<p id="notice"><%= notice %></p>

<h1 class="title">Users</h1>

<table class="table is-striped is-hoverable">
  <thead>
    <tr>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td>
          <%= link_to user, class: "icon has-text-dark" do %>
            <%# <span class="icon has-text-info"> %>
              <i class="fas fa-info"></i>
            <%# </span> %>
          <% end %>
        </td>
        <td>
          <%= link_to edit_user_path(user) do %>
            <span class="icon has-text-dark">
              <i class="fas fa-edit"></i>
            </span>
          <% end %>
        </td>
        <td>
          <%= link_to user, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="icon has-text-danger">
              <i class="fas fa-trash"></i>
            </span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path, class: "button is-dark" %>
