<p id="notice" class="<%= notice && 'notification is-primary' %>"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<br>

<%= link_to 'Edit', edit_user_path(@user), class: 'button is-small' %>
<%= link_to 'Back', users_path, class: 'button is-small' %>
